################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestsASPNet/Tests/obj
/TestsASPNet/UnitTestProject1/obj
/TestsASPNet/.vs/TestsASPNet
/TestsASPNet/Tests/bin/Debug/netcoreapp3.1
/TestsASPNet/UnitTestProject1/bin/Debug/netcoreapp3.1
